<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        {% include "navbar.html" %}
    </nav>

    <div class="container my-5">
        <h1 class="text-center">About Us</h1>
        <div class="row mt-5">
        <div class="col-md-6">
            <h2>Our Project</h2>
            <p>Welcome to the About Us section of the Air Reservation Ticket Project for the Databases class at NYUSH. This project has been developed by Yan Konichshev, a student who is passionate about creating efficient and user-friendly systems for air travel. </p>
            <p>The Air Reservation Ticket Project aims to provide users with a seamless experience when booking and managing their flight reservations. The project utilizes a robust database system to store and retrieve user data, flight information, and other relevant data necessary for the smooth functioning of the application.</p>
            <p>I have put in a great deal of effort to ensure that this application meets the highest standards of quality and performance. I have worked tirelessly to design and develop the application, and I am confident that it will be of immense value to users.</p>
            <p>If you have any questions or feedback, please do not hesitate to contact me. Thank you for your interest in the Air Reservation Ticket Project!</p>
        </div>
        <div class="col-md-6">
            <h2>About the Developer</h2>
            <p>Yan is a Computer Science student at NYUSH. To know more about the developer, please refer to his personal github profile: https://github.com/whykay-01</p>
            <p>If you are interested in contributing to this project, or want to improve the user experience, do not hesitate to leave the comment, or submit a pull request here: https://github.com/whykay-01/air_ticket_system</p>
            <p>To contact Yan, it is better to email his personal email: yan.k@nyu.edu. The response time is typically within 12 hours :)</p>
        </div>
        </div>
    </div>

</body>
</html>

