
<!DOCTYPE html>
<html>
  <head>
    <title>View My Commission</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h3 class="text-center my-3">View My Commission</h3>
      <p>Details about your commission for the past 30 days:</p>
      <ul class="list-group mb-4">
        <li class="list-group-item">Total amount of commission received: {{commission_total}}</li>
        <li class="list-group-item">Average commission per ticket booked: {{commission_average}}</li>
        <li class="list-group-item">Total number of tickets sold: {{tickets_sold}}</li>
      </ul>
      <p class="mb-4">If you want to view commission details for a specific date range, please select the start and end dates above and click on the View button.</p>
      <form class="form-inline" action="/agent_criteria_search" method="POST">
        <div class="form-group mr-2">
          <label for="start-date" class="mr-2">Start Date:</label>
          <input type="date" class="form-control" name="start-date">
        </div>
        <br>
        <div class="form-group mr-2">
          <label for="end-date" class="mr-2">End Date:</label>
          <input type="date" class="form-control" name="end-date">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">View</button>
      </form>
      <br>
      <h4 class="text-center mb-3">Commission Details</h4>
      <ul class="list-group">
        <li class="list-group-item">Total amount of commission received for the given period: [INSERT AMOUNT HERE]</li>
        <li class="list-group-item">Total number of tickets sold for the given period: [INSERT NUMBER HERE]</li>
      </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html> 