<!DOCTYPE html>
<html>
<head>
    <title>Customer Spending</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-5">Total Amount Spent per Month</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <img src="{{ filepath }}" alt="Bar chart" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
