<!-- TODO: complete the rest of the customer user cases -->
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Flight Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      .error {
        color:red;
            margin-top: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Customer Flight Search</h2>
      <div class="form-group">
        <p>For the successful search you need to specify at least one of the fields.</p>
        <p>Please keep in mind that you can purchase at most 1 ticket for each flight.</p>
      </div>
      <form action="/customer_search" method="POST">
        <div class="table-responsive">
          <table class="table table-bordered">
            
            <tr>
              <th>Flight Number</th>
              <th>Departure Airport</th>
              <th>Arrival Airport</th>
              <th>Flight Date</th>
            </tr>
            
            <tbody>
              <tr>
                <td>
                  <select class="form-control" name="flights">
                    <option value="all">All</option>
                    {% if flights %}
                      {% for flight in flights %}
                        <option value="{{flight[0]}}">{{flight[0]}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </td>
                <td>
                  <select class="form-control" name="departure_airport">
                    <option value="all">All</option>
                    {% if departure_airport %}
                      {% for airport in departure_airport %}
                        <option value="{{airport[0]}}">{{airport[0]}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </td>
                <td>
                  <select class="form-control" name="arrival_airport">
                    <option value="all">All</option>
                    {% if arrival_airport %}
                      {% for airport in arrival_airport %}
                        <option value="{{airport[0]}}">{{airport[0]}}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </td>
                <td>
                  <input type="date" class="form-control" min="2022-01-01" name="flight_date"/> 
                  <!-- max="2020-12-31"  -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-4" id="searchResults">
          <h5>Search Results:</h5>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Flight Number</th>
                      <th>Airline</th>
                      <th>Departure Airport</th>
                      <th>Arrival Airport</th>
                      <th>Departure Time</th>
                      <th>Arrival Time</th>
                      <th>Departure Status</th>
                      <th>Available Seats</th>
                      <th>Purchase</th>
                  </tr>
              </thead>
              <tbody>
                  {% for line in table_content %}
                  <tr>
                      <td>{{line[0]}}</td>
                      <td>{{line[1]}}</td>
                      <td>{{line[2]}}</td>
                      <td>{{line[3]}}</td>
                      <td>{{line[4]}}</td>
                      <td>{{line[5]}}</td>
                      <td>{{line[6]}}</td>
                      <td>{{line[7]}}</td>
                      {% if line[7] != 0 %}
                      <td>
                        <form id="flight_info" action="/confirmation_page" method="POST">
                          <input type="hidden" name="flight_num" value="{{line[0]}}">
                          <input type="hidden" name="airline" value="{{line[1]}}">
                          <input type="hidden" name="departure_airport" value="{{line[2]}}">
                          <input type="hidden" name="arrival_airport" value="{{line[3]}}">
                          <input type="hidden" name="departure_time" value="{{line[4]}}">
                          <input type="hidden" name="arrival_time" value="{{line[5]}}">
                          <button class="btn btn-success flex-bottom-right" value="Purchase" onclick="submitForm()">Purchase</button>
                        </form>
                      </td>
                      {% else %}
                      <td>
                          <input class="btn btn-secondary" value="Purchase" disabled>
                      </td>
                      {% endif %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Search">
          <a href="/home" class="btn btn-secondary">Go Back</a>
        </div>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}   
      <script>
        function submitForm() {
          document.querySelector('input[name="flight_num"]').value = flight_num;
          document.querySelector('input[name="airline"]').value = airline;
          document.querySelector('input[name="departure_airport"]').value = departure_airport;
          document.querySelector('input[name="arrival_airport"]').value = arrival_airport;
          document.querySelector('input[name="departure_time"]').value = departure_time;
          document.querySelector('input[name="arrival_time"]').value = arrival_time;
          document.querySelector('#flight_info').submit();
        }
      </script>
</body>
</html>

