<!DOCTYPE html>
<html>
<head>
    <title>Customer Spending</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <style>
        .form-group label {
            font-weight: bold;
        }
        .form-group input[type="date"] {
            width: 300px;
        }
        .card {
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
    <div class="container my-5">
        <h3>Specify the date range:</h3>
        <form class="form-inline" action="/staff_flight_search" method="POST">
            <br>
            <div class="form-group mr-2">
                <label for="start-date" class="mr-2">Start Date:</label>
                <input type="date" class="form-control" name="start-date">
            </div>
            <br>
            <div class="form-group mr-2">
                <label for="end-date" class="mr-2">End Date:</label>
                <input type="date" class="form-control" name="end-date">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/home" class="btn btn-secondary">Go to Home Page</a>
        </form>
        
        <br>

        <h3>Customer Spending:</h3>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <img src="{{ filepath }}" alt="Bar chart" class="img-fluid">
                </div>
            </div>
        </div>

    </div>
</body>
</html>
