<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Proudly developed in</h4>
          <ul class="list-unstyled">
            <li>NYU Shanghai</li>
            <li>Shanghai, China</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>About The Project</h4>
          <p>This project is developed for the Databases class at NYU Shanghai</p>
        </div>
        <div class="col-md-4">
            <h4>Connect with Us</h4>
            <ul class="list-unstyled">
              <li>GitHub: whykay-01</li>
              <li>Email: yan.k@nyu.edu</li>
            </ul>
          </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Yan Development. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>

<style>
    .col-md-4 {
      margin-top: 10px;
    }
</style>
  