<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <ul class="list-unstyled">
            <li>1234 Airline St.</li>
            <li>City, State 12345</li>
            <li>Phone: (123) 456-7890</li>
            <li>Email: info@example.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec odio eu risus sagittis consequat. Ut maximus eros eget facilisis.</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 Airline Reservation. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  