<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-0aZfe8OcMkMqj3hAeD1vnh8WyC+haK49JiFTQizYuZJWhOmTWlgWvoPzRwN+QplNjms8P7oF5Xrg3qf5ZpSvJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	{% if user_type == "Customer" %}
    <div class="container">
        <h2 class="my-5">Welcome to the customer's page, {{email}}!</h2>

		{% with message = get_flashed_messages() %} <!-- success purchase notification-->
				{% if message %}
				<div class="alert alert-success">
  					{{message[0]}}
				</div>
				{% endif %}
		{% endwith %}

		<h3>Your upcoming flights:</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Airline</th><th>Flight Number</th><th>Departure Airport</th>
					<th>Departure Time</th><th>Arrival Airport</th><th>Arrival Time</th><th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for line in upcoming_flights %}
					<tr>
						<td>{{line[0]}}</td>
						<td>{{line[1]}}</td>
						<td>{{line[2]}}</td>
						<td>{{line[3]}}</td>
						<td>{{line[4]}}</td>
						<td>{{line[5]}}</td>
						<td>{{line[6]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="my-5">
			<a href="/customer_flight_search" class="btn btn-primary">Purchase a ticket</a>
			<a href="/customer_spending" class="btn btn-secondary">Track my spendings</a>
			<form action="/logout" style="display: inline-block;">
				<button type="submit" class="btn btn-danger">Logout</button>
			</form>
		</div>
    </div>
  {% endif %}

	{% if user_type == "Booking Agent" %}
		<div class="container">
			<h2 class="my-5">Booking agent view page. Good day, <span class="text-primary">{{email}}</span>!</h2>
			{% with message = get_flashed_messages(category_filter=["success"]) %}
				{% if message %}
				<div class="alert alert-success">
  					{{message[0]}}
				</div>
				{% endif %}
			{% endwith %}
			{% with message = get_flashed_messages(category_filter=["error"]) %}
				{% if message %}
					<div class="alert alert-danger">
						{{message[0]}}
					</div>
				{% endif %}
			{% endwith %}
			<div class="container">
				<div class="row">
					<div class="card shadow-sm mb-5">
						<div class="card-body text-left">
						<h5 class="card-title mb-0">Airline you work for: {{airline_name}}</h5>
						</div>
					</div>
				</div>
				{% if airline_name != "You are not approved by any airline yet. Thanks for your patience!"%}
					<div class="my-5">
						<a href="/agent_flight_search" class="btn btn-primary">Purchase a flight</a>
						<a href="/agent_view_commission" class="btn btn-success">View the commission</a>
						<a href="/agent_top_customer" class="btn btn-secondary">View top customers</a>
				{% endif %}
				<form action="/logout" style="display: inline-block;">
					<button type="submit" class="btn btn-danger">Logout</button>
				</form>
				{% if airline_name != "You are not approved by any airline yet. Thanks for your patience!"%}
					</div>
					<h5>Specify the searching criteria for the flights you are affiliated with:</h5>
					<br>
					<form class="form-inline" action="/agent_criteria_search" method="POST">
					<div class="form-group mr-2">
						<label for="start-date" class="mr-2">Start Date:</label>
						<input type="date" class="form-control" name="start-date">
					</div>
					<br>
					<div class="form-group mr-2">
						<label for="end-date" class="mr-2">End Date:</label>
						<input type="date" class="form-control" name="end-date">
					</div>
					<br>
					<div class="form-group mr-2">
						<label for="departure_airport" class="mr-2">Departure_airport:</label>
						<select class="form-control" name="departure_airport">
							<option value="all">All</option>
							{% if departure_airports %}
							{% for airport in departure_airports %}
								<option value="{{airport[0]}}">{{airport[0]}}</option>
							{% endfor %}
							{% endif %}
						</select>
					</div>
					<br>
					<div class="form-group mr-2">
						<label for="arrival_airport" class="mr-2">Arrival_airport:</label>
						<select class="form-control" name="arrival_airport">
							<option value="all">All</option>
							{% if arrival_airports %}
							{% for airport in arrival_airports %}
								<option value="{{airport[0]}}">{{airport[0]}}</option>
							{% endfor %}
							{% endif %}
						</select>
					</div>
					<br>
					<div class="form-group mr-2">
						<label for="customer_email" class="mr-2">Customer's Email:</label>
						<input type="text" class="form-control" name="customer_email">
					</div>
					<br>
					{% if error %}
						<p class="error"><strong>Warning:</strong> {{error}}</p>
						{% endif %} 
					<button type="submit" class="btn btn-primary ml-auto">Search</button>
					</form>
				{% endif %}
				</div>		  
			{% if airline_name != "You are not approved by any airline yet. Thanks for your patience!" %}
				<br>
				<h3>Your upcoming flights:</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Airline</th><th>Flight Number</th><th>Departure Airport</th>
							<th>Departure Time</th><th>Arrival Airport</th><th>Arrival Time</th><th>Status</th><th>Customer Email</th>
						</tr>
					</thead>
					<tbody>
						{% for line in upcoming_flights %}
							<tr>
								<td>{{line[0]}}</td>
								<td>{{line[1]}}</td>
								<td>{{line[2]}}</td>
								<td>{{line[3]}}</td>
								<td>{{line[4]}}</td>
								<td>{{line[5]}}</td>
								<td>{{line[6]}}</td>
								<td>{{line[7]}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
		</div>
		
	{% endif %}

	{% if user_type == "Airline Staff" %}
	<div class="container">
		<h3 class="my-5">Airline Staff View Page: welcome, {{first_name}} {{last_name}}!</h3>
		{% with message = get_flashed_messages(category_filter=["success"]) %}
				{% if message %}
				<div class="alert alert-success">
  					{{message[0]}}
				</div>
				{% endif %}
		{% endwith %}
		{% with message = get_flashed_messages(category_filter=["error"]) %}
			{% if message %}
				<div class="alert alert-danger">
					{{message[0]}}
				</div>
			{% endif %}
		{% endwith %}
		<div class="row">
			<div class="col-md-4">
				<div class="card shadow-sm mb-5">
				  <div class="card-body text-left">
					<h5 class="card-title mb-0">Your email-username: <strong>{{ email }}</strong></h5>
					<h5 class="card-title mb-0">Airline you work for: <strong>{{airline_name}}</strong></h5>
					<h5 class="card-title mb-0">Your permission level: <strong>{{permission}}</strong></h5>
					<p> </p>
				  </div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
				<h4>Flights</h4>
				<div class="list-group">
					<a href="/staff_create_flight" class="list-group-item list-group-item-action">Create a new flight</a>
					<a href="/staff_change_flight_status" class="list-group-item list-group-item-action">Change flight status</a>
					<a href="/staff_view_my_flight" class="list-group-item list-group-item-action">View detailed info about the flight</a>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Airplanes and Airports</h4>
				<div class="list-group">
					<a href="/staff_add_airplane" class="list-group-item list-group-item-action">Add an airplane</a>
					<a href="/staff_add_airport" class="list-group-item list-group-item-action">Add an airport</a>
				</div>
			</div>
			<div class="col-md-4">
				<h4>Reports and Analytics</h4>
				<div class="list-group">
					<a href="/staff_view_agents" class="list-group-item list-group-item-action">View booking agents</a>
					<a href="/staff_view_customers" class="list-group-item list-group-item-action">View frequent customers</a>
					<a href="/staff_view_reports" class="list-group-item list-group-item-action">View reports</a>
					<a href="/staff_revenue_report" class="list-group-item list-group-item-action">Comparison of revenue earned</a>
					<a href="/staff_view_top_destinations" class="list-group-item list-group-item-action">View top destinations</a>
				</div>
			</div>
			{% if permission == "admin" %}
			<div class="col-md-4">
				<h4>System Management</h4>
				<div class="list-group">
					<a href="/staff_grant_permissions" class="list-group-item list-group-item-action">Grant New Permissions</a>
					<a href="/staff_add_agents" class="list-group-item list-group-item-action">Add New Booking Agents</a>
				</div>
			</div>
			{% endif %}
		</div>
		<br>
		<h4>{{airline_name}}'s flights:</h4>
		
		<div class="container">
			<form class="form-inline" action="/staff_flight_search" method="POST">
			  <div class="form-group mr-2">
				<label for="start-date" class="mr-2">Start Date:</label>
				<input type="date" class="form-control" name="start-date">
			  </div>
			  <br>
			  <div class="form-group mr-2">
				<label for="end-date" class="mr-2">End Date:</label>
				<input type="date" class="form-control" name="end-date">
			  </div>
			  <br>
			  <div class="form-group mr-2">
				<label for="departure_airport" class="mr-2">Departure_airport:</label>
				<input type="text" class="form-control" name="departure_airport">
			  </div>
			  <br>
			  <div class="form-group mr-2">
				<label for="arrival_airport" class="mr-2">Arrival_airport:</label>
				<input type="text" class="form-control" name="arrival_airport">
			  </div>
			  <br>
			  {% if error %}
        		<p class="error"><strong>Warning:</strong> {{error}}</p>
      		  {% endif %} 
			  <button type="submit" class="btn btn-primary ml-auto">Search</button>
			</form>
		  </div>		  
		<br>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Airline</th>
					<th>Flight Number</th>
					<th>Departure Airport</th>
					<th>Departure Time</th>
					<th>Arrival Airport</th>
					<th>Arrival Time</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for line in upcoming_flights %}
					<tr>
						<td>{{line[0]}}</td>
						<td>{{line[1]}}</td>
						<td>{{line[2]}}</td>
						<td>{{line[3]}}</td>
						<td>{{line[4]}}</td>
						<td>{{line[5]}}</td>
						<td>{{line[6]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
		<a href="/logout" class="btn btn-danger">Logout</a>
	</div>		
	<br>  
	{% endif %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
</body>
</html>

	
