<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flight Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <style>
		.error {
		  color:red; /* Red border color for error */
          margin-top: 15px;
		}
	</style>
</head>

<body>
    <nav>
        {% include "navbar.html" %}
    </nav>
    <div class="container mt-5">
        <h2 class="text-center">Flight Search</h2>
        <ul class="nav nav-tabs mt-4" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="upcomingFlights-tab" data-toggle="tab" href="#upcomingFlights" role="tab"
                    aria-controls="upcomingFlights" aria-selected="true">Search for Upcoming Flights</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="flightStatus-tab" data-toggle="tab" href="#flightStatus" role="tab"
                    aria-controls="flightStatus" aria-selected="false">Search for Flight Status</a>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="upcomingFlights" role="tabpanel"
                aria-labelledby="upcomingFlights-tab">

                <form id="flightSearchFormA" action="/flightSearchA" method="POST">
                    <!-- Form content for Search for Upcoming Flights -->
                    <div class="form-group">
                        <label for="searchFactorA">Search By:</label>
                        <select id="searchFactorA" name="searchFactorA" class="form-select" required>
                            <option selected>-- SELECT THE CRITERIA --</option>
                            <option>Source City/Airport</option>
                            <option>Destination City/Airport</option>
                            <option>Date</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sourceCityA" id="labelSourceCity">Source City/Airport Name:</label>
                        <input type="text" class="form-control" id="sourceCityA" name="sourceCityA">
                    </div>
                    <div class="form-group">
                        <labgetAirlinesel for="destinationCityA" id="labelDestinationCity">Destination City/Airport Name:</label>
                        <input type="text" class="form-control" id="destinationCityA" name="destinationCityA">
                    </div>
                    <div class="form-group">
                        <label for="dateA" id = "labelDateA">Date:</label>
                        <input type="date" class="form-control" id="dateA" name="dateA">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="buttonA">Search</button> <!-- onclick="showTableA()"-->
                    </div>
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{error}}</p>
                    {% endif %}
                </form>

                <div class="mt-4" id="tableA">
                    <h5>Search Results:</h5>
                    <table class="table table-striped" id="searchResultsA">
                        <thead>
                            <tr>
                                <th>Flight Number</th>
                                <th>Airline</th>
                                <th>Departure Airport</th>
                                <th>Arrival Airport</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Departure Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in table_content %}
                            <tr>
                                <td>{{line[0]}}</td>
                                <td>{{line[1]}}</td>
                                <td>{{line[2]}}</td>
                                <td>{{line[3]}}</td>
                                <td>{{line[4]}}</td>
                                <td>{{line[5]}}</td>
                                <td>{{line[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="flightStatus" role="tabpanel" aria-labelledby="flightStatus-tab">

                <form id="flightSearchFormB" action="/flightSearchB" method="POST">
                    <!-- Form content for Search for Flight Status -->
                    <div class="form-group">
                        <label for="searchFactorB">Search By:</label>
                        <select class="form-control" id="searchFactorB" name="searchFactorB" required>
                            <option selected>-- SELECT THE CRITERIA --</option>
                            <option>Flight Number</option>
                            <option>Date</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="flightNumber">Flight Number:</label>
                        <input type="text" class="form-control" id="flightNumber" name="flightNumber">
                    </div>
                    <div class="form-group">
                        <label for="dateB" id = "labelDateB">Date:</label>
                        <input type="date" class="form-control" id="dateB" name="dateB">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="buttonB">Search</button> <!-- onclick="showTableB()" -->
                    </div>
                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{error}}</p>
                    {% endif %}
                </form>
                <div class="mt-4" id="tableB">
                    <h5>Search Results:</h5>
                    <table class="table table-striped" id="searchResultsB">
                        <thead>
                            <tr>
                                <th>Flight Number</th>
                                <th>Airline</th>
                                <th>Departure Airport</th>
                                <th>Arrival Airport</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Departure Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in table_content %}
                            <tr>
                                <td>{{line[0]}}</td>
                                <td>{{line[1]}}</td>
                                <td>{{line[2]}}</td>
                                <td>{{line[3]}}</td>
                                <td>{{line[4]}}</td>
                                <td>{{line[5]}}</td>
                                <td>{{line[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
            
            <script>
                let buttonA = document.getElementById("buttonA");
                let buttonB = document.getElementById("buttonB");

                buttonA.addEventListener("click", function() {
                    let searchFactorA = document.getElementById("searchFactorA");
                    let selectedOption = searchFactorA.options[searchFactorA.selectedIndex].value;
                    let sourceCityA = document.getElementById("sourceCityA");
                    let destinationCityA = document.getElementById("destinationCityA");
                    let dateA = document.getElementById("dateA");
                    let searchResultsA = document.getElementById("searchResultsA");
                    let flightSearchFormA = document.getElementById("flightSearchFormA");

                    if (selectedOption === "Source City/Airport") {
                        if (sourceCityA.value === "") {
                            alert("Please enter a source city/airport name.");
                            return false;
                        }
                    } else if (selectedOption === "Destination City/Airport") {
                        if (destinationCityA.value === "") {
                            alert("Please enter a destination city/airport name.");
                            return false;
                        }
                    } else if (selectedOption === "Date") {
                        if (dateA.value === "") {
                            alert("Please enter a date.");
                            return false;
                        }
                    }
                    searchResultsA.style.display = "block";
                    flightSearchFormA.style.display = "none";
                });

                buttonB.addEventListener("click", function() {
                    let searchFactorB = document.getElementById("searchFactorB");
                    let selectedOption = searchFactorB.options[searchFactorB.selectedIndex].value;
                    let flightNumber = document.getElementById("flightNumber");
                    let dateB = document.getElementById("dateB");
                    let searchResultsB = document.getElementById("searchResultsB");
                    let flightSearchFormB = document.getElementById("flightSearchFormB");

                    // maybe it should be Flight Number
                    if (selectedOption === "flightNumber") {
                        if (flightNumber.value === "") {
                            alert("Please enter a flight number.");
                            return false;
                        }
                    } else if (selectedOption === "dateB") {
                        if (dateB.value === "") {
                            alert("Please enter a date.");
                            return false;
                        }
                    }
                    searchResultsB.style.display = "block";
                    flightSearchFormB.style.display = "none";
                });
            </script>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
