<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flight Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Flight Search</h2>
        <ul class="nav nav-tabs mt-4" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="upcomingFlights-tab" data-toggle="tab" href="#upcomingFlights" role="tab"
                    aria-controls="upcomingFlights" aria-selected="true">Search for Upcoming Flights</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="flightStatus-tab" data-toggle="tab" href="#flightStatus" role="tab"
                    aria-controls="flightStatus" aria-selected="false">Search for Flight Status</a>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="upcomingFlights" role="tabpanel"
                aria-labelledby="upcomingFlights-tab">




                <form id="flightSearchFormA" action="/flightSearchA" method="GET">
                    <!-- Form content for Search for Upcoming Flights -->
                    <div class="form-group">
                        <label for="searchFactorA">Search By:</label>
                        <select class="form-control" id="searchFactorA" name="searchFactorA" required>
                            <option value="source">Source City/Airport</option>
                            <option value="destination">Destination City/Airport</option>
                            <option value="date">Date</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sourceCityA">Source City/Airport Name:</label>
                        <input type="text" class="form-control" id="sourceCityA" name="sourceCityA">
                    </div>
                    <div class="form-group">
                        <label for="destinationCityA">Destination City/Airport Name:</label>
                        <input type="text" class="form-control" id="destinationCityA" name="destinationCityA">
                    </div>
                    <div class="form-group">
                        <label for="dateA">Date:</label>
                        <input type="date" class="form-control" id="dateA" name="dateA">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <div class="mt-4">
                    <h5>Search Results:</h5>
                    <table class="table table-striped" id="searchResultsA">
                        <thead>
                            <tr>
                                <th>Flight Number</th>
                                <th>Airline</th>
                                <th>Departure Airport</th>
                                <th>Arrival Airport</th>
                                <th>Departure Time</th>
                                <th>Arrival Time</th>
                                <th>Departure Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in table_content %}
                            <tr>
                                <!-- TODO: make the population of data dynamic -->
                                <td>{{line[0]}}</td>
                                <td>{{line[1]}}</td>
                                <td>{{line[2]}}</td>
                                <td>{{line[3]}}</td>
                                <td>{{line[4]}}</td>
                                <td>{{line[5]}}</td>
                                <td>{{line[6]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="flightStatus" role="tabpanel" aria-labelledby="flightStatus-tab">



                <form id="flightSearchFormB" action="/flightSearchB" method="GET">
                    <!-- Form content for Search for Flight Status -->
                    <div class="form-group">
                        <label for="searchFactorB">Search By:</label>
                        <select class="form-control" id="searchFactorB" name="searchFactorB" required>
                            <option value="flightNumber">Flight Number</option>
                            <option value="date">Date</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="flightNumber">Flight Number:</label>
                        <input type="text" class="form-control" id="flightNumber" name="flightNumber">
                    </div>
                    <div class="form-group">
                        <label for="dateB">Date:</label>
                        <input type="date" class="form-control" id="dateB" name="dateB">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <div class="mt-4">
                    <h5>Search Results:</h5>
                    <table class="table table-striped" id="searchResultsB">
                        <thead>
                            <tr>
                                <th>Flight Number</th>
                                <th>Source</th>
                                <th>Destination</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Search results will be dynamically populated here -->
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
            
            <!-- Add your JavaScript code here -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
