<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
	<style>
		.error {
		  color:red; /* Red border color for error */
          margin-top: 15px;
		}
	</style>
</head>
<body>
	<header>
        {% include "navbar.html" %}
    </header>
	<div class="p-5 form-signin w-50 m-auto">
		<h1>Booking Agent Registration Page</h1>
		<p>
			Note: you will not be able to change your information! Please make sure you enter the correct information.
		</p>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}

<form id="myForm" action="/registerAgent" method="POST">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" name="email" id="email" placeholder="your email" required/>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" name="password" id="password" placeholder="your password" required/>
	</div>
	<div class="form-group">
		<label for="password">Confirm Password</label>
		<input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="re-type the password" required/>
	</div>
	<div class="form-group">
		<label for="booking_agent_id">Booking Agent ID</label>
		<!-- this one is unique per airline, meaning one airline cannot have two agents with same id -->
		<input type="number" class="form-control" name="booking_agent_id" id="booking_agent_id" placeholder="your booking ID" required/>
	</div>

	<script>
		// Function to check if passwords match
		document.getElementById("myForm").addEventListener("submit", function(event) {
			var password = document.getElementById("password").value;
			var confirm_password = document.getElementById("confirm_password").value;
        	var passwordField = document.getElementById("password");
        	var confirmPasswordField = document.getElementById("confirm_password");

			if (password !== confirm_password) {
				event.preventDefault(); // prevent form submission
				alert("Passwords do not match. Please try again.");
				passwordField.classList.add("error"); 
            	confirmPasswordField.classList.add("error");

			}
			else {
            	passwordField.classList.remove("error");
            	confirmPasswordField.classList.remove("error");
			};
		});
	</script>

	<button type="submit" class="btn btn-primary flex-bottom-right" value = "Register">Submit</button>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<style>
	.btn-primary {
		margin-top: 20px;
	}
	.form-group{
		margin-top: 10px;
	}
</style>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
</body>
</html>
