<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
	<style>
		.error {
		  color:red; /* Red border color for error */
          margin-top: 15px;
		}
	</style>
</head>
<body>

	<div class="p-5 form-signin w-50 m-auto">
		<h1>Add Airplane Page</h1>
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}

		<form id="myForm" action="/addAirplane" method="POST">
			<div class="form-group">
				<label for="airplane_id">Airplane ID</label>
				<input type="number" class="form-control" name="airplane_id" id="airplane_id" placeholder="the ID of the airplane (must be unique)" required/>
			</div>
			<div class="form-group">
				<label for="seats">Number of seats</label>
				<input type="number" class="form-control" name="seats" id="seats" placeholder="seats per airplane" required/>
			</div>

			<button type="submit" class="btn btn-primary flex-bottom-right" value = "Add">Add an Airplane</button>
			<a href="/home" class="btn btn-secondary">Go to Home Page</a>
			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</form>
		<br>
        <h3>Current Airplanes Available for {{airline_name}}</h3>
        <table class="table table-bordered">
			<thead>
				<tr>
					<th>Airplane ID</th>
					<th>Maximum number of seats</th>
				</tr>
			</thead>
			<tbody>
				{% for line in table_content %}
					<tr>
						<td>{{line[0]}}</td>
						<td>{{line[1]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

<style>
	.btn-primary {
		margin-top: 20px;
	}
    .btn-secondary {
		margin-top: 20px;
	}
	.form-group{
		margin-top: 10px;
	}
</style>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
</body>
</html>
