<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Registration Success</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <title>Success!</title>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Success!</h4>
      <p>You have successfully registered.</p>
      <hr>
      <p class="mb-0">Thank you for registering. You can now access our website using your credentials.</p>
    </div>
    <a href="/" class="btn btn-primary">Go to Main Page</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
